@import 'style/variables';
@import 'style/resets';
@import 'style/mixins';

// Utilities

.constrain {
  display: grid;
  grid-template-columns: var(--measure);
  justify-content: center;
  padding-inline: var(--padding);
}

.masthead {
  h1,
  nav {
    display: flex;
    gap: var(--padding-comfy);
    justify-content: flex-end;
  }
}
