@import 'style/variables';
@import 'style/resets';
@import 'style/mixins';

// Utilities

.constrain {
  display: grid;
  grid-template-columns: var(--measure);
  justify-content: center;
  padding-inline: var(--padding);
}
