<article class="g-full s-introduction">
  <p><img alt="A photo of me, Tim G. Thomas" src="/css/images/photo.jpg" height="110" width="110" />I'm a Web designer at <a href="http://www.frogdesign.com" target="_blank">frog</a> in Austin, Texas, where I apply holistic design principles to make software both usable and beautiful. I speak on various topics at technology user groups, conferences, and meet-ups, and discuss Web, game, and mobile design here on my blog</a>.</p>
</article>
