<header>
  <h1><%= page.title %></h1>
</header>
<% site.posts.sort('date', 'desc').each((post) => { %>
<p>
  <a href="<%- url_for(post.path) %>"><%= post.title %></a>
  <%- partial('_helpers/date', { value: post.date }) %>
</p>
<% }) %>
