<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover">
  <title><%= (page.title || page.posts.first().title) +  ' · Tim G. Thomas' %></title>
  <link rel="alternate" href="http://feeds.feedburner.com/timgthomas" title="Tim G. Thomas" type="application/rss+xml">
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic|Fira+Mono">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header role="banner">
    <div class="container">
      <h1><a href="/">Tim <em>G</em> Thomas</a></h1>
      <input id="toggle-nav" type="checkbox">
      <nav>
        <a href="/">Blog</a>
        <a href="/projects">Projects</a>
        <a href="/speaking">Speaking</a>
      </nav>
    </div>
  </header>
  <aside>
    <div class="container">
      <p>I apply holistic design principles to make experiences both usable and beautiful.</p>
      <p class="social">
        <a class="social-github" href="https://github.com/timgthomas" target="_blank" rel="noopener">GitHub</a>
        <a class="social-codepen" href="https://codepen.io/TimGThomas" target="_blank" rel="noopener">CodePen</a>
        <a class="social-bsky" href="https://bsky.app/profile/timgthomas.com" target="_blank" rel="noopener">Bluesky</a>
      </p>
    </div>
  </aside>
  <%- body %>
  <p id="copyright">&copy; Tim G. Thomas</p>
  <% if (env.env === 'production') { %>
    <%- partial('_partial/analytics') %>
  <% } %>
</body>
</html>
