<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fira+Sans">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header role="banner">
    <h1>
      <a href="/">Tim G Thomas</a>
    </h1>
    <nav>
      <a href="/blog">Blog</a>
      <a href="/projects">Projects</a>
      <a href="/talks">Talks</a>
    </nav>
  </header>
  <main><%- body %></main>
</body>
</html>
