[role='main'], footer

  h2, h3
    font-weight 300
    text-align center
    text-transform uppercase

  h2, h3, ol, ul, dl, pre, blockquote, iframe
    color mix(black, alabaster, 65%)
    font-size 1.8rem
    line-height 1.618
    margin-bottom 16px

  pre
    margin-bottom 1.2rem
    margin-top 1.2rem

  h2
    color purple
    letter-spacing 0.15rem
    margin 2.4rem 0

  h3
    text-align left

  p
    text-align justify
    text-rendering optimizeLegibility

  ol, ul
    margin-left 3.6rem

  dl
    font-size 0.9rem
    margin-bottom 1.8rem

  dd, blockquote, blockquote p, figcaption
    color mix(black, alabaster, 45%)
    font-size 1.2rem
    font-style oblique
    margin-bottom 1.2rem
    margin-left 1.2rem
    margin-right 1.2rem

  dt, dd
    font-size 1.4rem

  figcaption
    font-size 0.7rem
    margin 0.3rem 0.6rem 0.6rem
    text-align center

  pre, blockquote
    border-left 0.2rem solid darken(alabaster, 10%)
    margin-left 1.2rem
    padding-left 0.6rem

  pre, code
    font-family 'Fira Mono'
    font-size 1.5rem

  pre
    width calc(100% - 2.4rem)

  strong
    font-weight 500

  img, iframe
    display block
    max-width 480px
    margin 1.2rem auto

  // Disqus <iframe> shouldn't follow the same rules.
  iframe#dsq-2
    max-width 100% // 40.0rem

  img
    border-radius 0.5rem

    &.inline
      border-radius 0
      box-shadow none

  iframe
    min-height 15.0rem
    width 100%

footer
  font-size 0.9rem

#copyright
  color shadow
  font-size 1.2rem
  text-align center
  margin-bottom 1.2rem


// "Next"/"Previous" post navigation

[role='main'] nav

  overflow hidden

  .post-nav-prev,
  .post-nav-next
    display block
    margin-bottom 1.6rem

    font-size 1.4rem
    line-height 21px

  .post-nav-prev a
      background-position left -8px center
      padding-left 14px

  .post-nav-next
    text-align right

    a
      background-position right -8px center
      padding-right 14px

  a
    display block
    background-image url('../images/nav.png')
    background-repeat no-repeat
    background-size 15px 21px

@media screen and (min-width: 550px)

  [role='main'] nav
    margin 1.2rem 0
    width 100%

    .post-nav-prev,
    .post-nav-next
      vertical-align middle

      &, a
        min-width 265px
        width 40%

      a
        display inline-block

    .post-nav-prev
      float left
      a
        padding-left 18px

    .post-nav-next
      float right
      a
        padding-right 18px
