// import 'nib'

alabaster = rgb(241, 242, 237)
blackrock = rgb( 49,  46,  63)

shade     = mix(black, alabaster, 25%)
shadow    = mix(black, alabaster)
aqua      = rgb( 53, 171, 165)
dark-aqua = rgb(  0, 135, 127)
orange    = rgb(248, 142,  41)
purple    = rgb(182,  81, 154)

*
  box-sizing inherit
  margin 0
  padding 0

  line-height inherit

  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-tap-highlight-color transparent

@css {
  :root {
    --color-background--primary: hsl(72, 16.13%, 93.92%);
    --color-background--secondary: hsl(73.33, 16.36%, 89.22%);
    --color-background--tertiary: hsl(72, 16%, 80%);

    --color-body: hsl(60, 1.2%, 32.55%);
    --color-heading: hsl(0, 0%, 32.94%);

    --image-avatar: url('/images/avatar-light.png');
    --image-chevron: url('/images/chevron-light.png');
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background--primary: hsl(60, 1%, 15%);
      --color-background--secondary: hsl(60, 1%, 20%);
      --color-background--tertiary: hsl(60, 1%, 30%);

      --color-body: hsl(60, 5%, 70%);
      --color-heading: hsl(0, 0%, 100%);

      --image-avatar: url('/images/avatar-dark.png');
      --image-chevron: url('/images/chevron-dark.png');
    }
  }
}

html
  box-sizing border-box
  font-size 62.5%
  line-height 1

body
  background-color var(--color-background--primary)
  font-family 'Fira Sans'
  font-weight 200

@import 'partials/_header'

[role='banner']
  position fixed
  top 0
  width 100%
  z-index 1

  // background-color alabaster
  box-shadow 0 4px rgba(black, 15%)

  .container
    box-sizing border-box
    display flex
    flex-direction column
    align-items stretch
    justify-content space-between
    margin 0 auto
    max-width 720px
    position relative

    &:after
      content ''
      display block
      position absolute
      height 18px
      width 52px
      left 10px
      top 100%

      background-image var(--image-chevron)
      background-size 52px 18px

    @media screen and (min-width: 415px)
      align-items center
      flex-direction row

  h1
    display inline-block
    margin-left 16px
    padding-left 52px

    background-image url('../images/logo.png')
    background-repeat no-repeat
    background-position left center
    background-size 38px 44px

    color var(--color-body)
    font-size 2.4rem
    font-weight 300
    line-height 68px
    text-transform uppercase

    a
      color currentColor
      text-decoration none

  em
    color currentColor
    font-style inherit
    animation hues 30s infinite linear

  .hire
    padding 8px 0

    background-color purple
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAA9CAYAAABY1MJDAAAAzElEQVR4AeyXQQ0DIRBFkbASkFAJSKgEJCABKUiohJVQCRhoQmuAzqFpkwlHXkh35yc/e3whPBjWWSwWZ3HP12OTZmmiAFHapP3z9bMB/gf4thArydKuGoj9qAqyU/vSVSMB2hWkSrfZkDBYTSZWUwYgT0iglb79kdIqA6XvBOS6SulGKH05vNLIvZZWKV2dDnSvJWJvNKSst4w/L/zJ58cy/8Dg5wrx6AOUbbOVDSuUraasKXtyZf0AEsk/4DpUFpjj3lksltPnPeIBAJnuQ5trrMVZAAAAAElFTkSuQmCC')
    background-position right 8px center
    background-repeat no-repeat
    background-size 12.5px 30.5px
    border-bottom 16px solid alabaster

    color alabaster
    font-size 1.4rem
    font-weight 600
    text-align center
    text-decoration none
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

    &:hover
      background-color orange

    @media screen and (min-width: 415px)
      padding 8px 32px 8px 16px
      border-bottom none
      border-radius 4px

aside
  box-sizing content-box
  height 124px
  margin-bottom 16px
  padding 96px 8px 16px
  overflow hidden

  background-color var(--color-body)
  background-image linear-gradient(to bottom, #1e1d27 72px, #48475f)
  color alabaster

  .container
    box-sizing border-box
    margin 0 auto
    max-width 700px

  p
    margin 0 auto
    position relative
    width 200px

    font-size 1.6rem
    font-weight 300
    line-height 2.4rem
    text-align center

    @media screen and (min-width: 360px)
      padding-right 160px
      width 360px

      &:first-of-type:before
        content ''
        display block
        position absolute
        width 220px
        height 176px
        top -30px
        right -40px

        background-image var(--image-avatar)
        background-size 220px 176px

    @media screen and (min-width: 512px)
      float right
      width 480px

      & + p
        text-align right

  p + p
    margin-top 8px

  a
    display inline-block
    height 44px
    width 40px
    margin 0 2px

    background-size 40px 44px

    color currentColor
    line-height 44px
    text-align center
    text-decoration none

    .icon,
    .fill,
    .outline
      transition fill 200ms

    .outline,
    .icon
      fill shade

    .fill
      fill transparent

    &:hover
      .outline,
      .icon
        fill alabaster

    &:active
      .fill,
      .icon,
      .outline
        fill white
      .icon
        fill var(--color-body)

[role='main']
  overflow-x hidden // HACK: Mobile Safari stretches the viewport for some reason
  margin 0 auto
  padding 16px
  max-width 800px

  font-size 1.8rem
  line-height 2.8rem

  header
    padding-left 12px

    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAqCAMAAACNzCuYAAAAM1BMVEUAAADDV7zDV7zDV7zDV7zDV7zDV7zDV7zDV7zDV7zDV7zDV7zDV7zDV7zDV7zDV7zDV7z5XzbMAAAAEHRSTlMAECAwQFBgcICPn6+/z9/vIxqCigAAAG9JREFUeNrVkjkOwCAMBLnCFQ7//7WBbpQg99lytHhA2HxjazdMniKRoInItABeVgorZRPHoXOBxkralUAyFhgEYVeSqnZntVfVcVcukn5UZ5L7qK6sZEVNoBzBUGqVi+HqeNyflPxXLl16reUwWh7KIAtMyT0yHQAAAABJRU5ErkJggg==')
    background-position top 3px left 1px
    background-repeat no-repeat
    background-size 8px 21px

    p
      color tint(black, 65%)
      font-size 1.4rem
      font-style oblique

    h1
      color var(--color-heading)
      font-size 2.4rem
      font-weight 200
      text-transform uppercase

  p
    color var(--color-body)
    font-size 1.8rem

  p,
  pre
    margin-bottom 16px

  pre
    overflow-x auto
    -webkit-overflow-scrolling touch

    font-size 1.4rem
    line-height 2.0rem

.toast
  position fixed
  bottom 0
  width 100%

  background-color rgba(alabaster, 90%)
  box-shadow 0 -4px rgba(black, 15%)

a
  color aqua
  transition color 0.2s
  &:hover
    color dark-aqua

@import '_content'
@import '_code'

@keyframes hues
  0%
    color shade
  16.5%
    color aqua
  33%
    color shade
  50%
    color orange
  67%
    color shade
  83.2%
    color purple
  100%
    color shade
