---
import Main from '@layouts/main.astro'
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'

export const getStaticPaths = (async () =>
  (await getCollection('blog')).map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))) satisfies GetStaticPaths

const post = Astro.props
const { Content } = await post.render()
---

<Main title={post.data.title}>
  <Content />
</Main>
