---
import { getCollection } from 'astro:content'
import MainLayout from '../../layouts/main.astro'

const posts = (await getCollection('blog')).sort((a, b) =>
  a.slug.localeCompare(b.slug)
)
---

<MainLayout title="Blog">
  <ol>
    {
      posts.map((post) => (
        <li>
          <h1>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </h1>
        </li>
      ))
    }
  </ol>
</MainLayout>
