---
import MainLayout from '@layouts/main.astro'
import { extractParamsFromPost } from '@src/lib/utils'
import { getCollection, type CollectionEntry } from 'astro:content'

type Post = CollectionEntry<'blog'>

// Since dates are components of post slugs, this acts like a date sort.
const bySlug = (a: Post, b: Post) => b.slug.localeCompare(a.slug)
const posts = (await getCollection('blog')).sort(bySlug)
const hrefFor = (p: Post): string => extractParamsFromPost(p).path
---

<MainLayout title="Blog">
  <ol>
    {
      posts.map((post) => (
        <li>
          <h1>
            <a href={hrefFor(post)}>{post.data.title}</a>
          </h1>
        </li>
      ))
    }
  </ol>
</MainLayout>
