@font-face {
  font-family: 'Karu';
  font-style: oblique;
  font-weight: 500;
  src: url('../fonts/karu-500i.otf') format('opentype');
}

@font-face {
  font-family: 'Karu';
  font-style: oblique;
  font-weight: 700;
  src: url('../fonts/karu-700i.otf') format('opentype');
}

@font-face {
  font-family: 'Overpass Mono';
  font-weight: 300;
  src: url('../fonts/overpass-mono-300.otf') format('opentype');
}

@font-face {
  font-family: 'Weekly Pro';
  font-weight: 400;
  src: url('../fonts/weekly-pro-400.otf') format('opentype');
}

@font-face {
  font-family: 'Weekly Pro';
  font-style: oblique;
  src: url('../fonts/weekly-pro-400i.otf') format('opentype');
}

@font-face {
  font-family: 'Weekly Pro';
  font-weight: 700;
  src: url('../fonts/weekly-pro-700.otf') format('opentype');
}
