@import 'includes/variables';
@import 'includes/resets';
@import 'includes/typography';
@import 'includes/mixins';

body {
  background: #222;
  color: #ccc;
  padding-block: var(--padding-comfy);

  // TODO: Move to font mixin
  font-family: $font-regular;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.618;
}

.constrain {
  display: grid;
  grid-template-columns: var(--measure);
  justify-content: center;
}

.masthead {
  h1,
  nav {
    display: flex;
    gap: var(--padding-comfy);
    justify-content: flex-end;
  }
}

.title {
  display: flex;
  justify-content: flex-end;
}
