<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tim G. Thomas</title>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Fira+Sans:300,300i">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1><a href="/">Tim G. Thomas</a></h1>
    <nav role="navigation">
      <ul>
        <li><a href="#" class="nav-feed"></a></li>
        <li><a href="#" class="nav-github" title="github.com/timgthomas"></a></li>
        <li><a href="#" class="nav-twitter" title="@timgthomas"></a></li>
      </ul>
    </nav>
  </header>
  <main><%- body %></main>
  <footer>
      <a href="#" class="prev">A Previous Post</a>
      <a href="#" class="next">A Later Post</a>
      <h3>Comments</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, in qui cum similique suscipit hic voluptas dolorem reiciendis possimus ratione.</p>
      <h3>Read More</h3>
      <ol class="related">
        <li>
          <h4>A Related Post</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa!</p>
        </li>
        <li>
          <h4>A Similar Post</h4>
          <p>Et, voluptatum dolorum similique sapiente molestiae fuga qui iste consequuntur iure in.</p>
        </li>
        <li>
          <h4>View the Archives</h4>
          <p>Pariatur, mollitia esse blanditiis laborum ea cumque voluptas rerum atque nemo quam!</p>
        </li>
      </ol>
    </footer>
</body>
</html>
