<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= page.title || 'Tim G. Thomas' %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1><a href="/">Tim <em>G</em> Thomas</a></h1>
    <nav role="navigation">
      <ul>
        <li><a href="#" class="nav-feed"></a></li>
        <li><a href="#" class="nav-github" title="github.com/timgthomas"></a></li>
        <li><a href="#" class="nav-twitter" title="@timgthomas"></a></li>
      </ul>
    </nav>
  </header>
  <%- body %>
  <p id="copyright">&copy; Tim G. Thomas</p>
</body>
</html>
