// Block content

header {
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 400px;
  width: max-content;
}

h1 {
  color: var(--color-header);
  font: oblique 500 32px / 1 'Karu';
}

h2 {
  color: var(--color-header);
  font: oblique 700 24px / 1 'Karu';
  margin: 30px 0 15px;
}

p {
  font-size: 20px;
  hyphens: auto;
  line-height: 30px;
}

ol,
ul {
  margin-left: 45px;
}

dl {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;

  dd + dt {
    margin-top: 5px;
  }

  dd {
    margin-left: 15px;
  }
}

// Inline content

a {
  color: var(--color-link);

  &:hover {
    color: var(--color-link--hover);
  }

  &:active {
    color: var(--color-link--active);
  }
}

em {
  font-style: oblique;
}

strong {
  font-weight: 700;
}
