// Resets ======================================================================

* {
  box-sizing: inherit;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

:root {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
  box-sizing: border-box;
  color: var(--color-body);
  color-scheme: light dark;
  font-family: 'Weekly Pro';
  line-height: 1;
}

// Typography ==================================================================

@font-face {
  font-family: 'Karu';
  font-style: oblique;
  font-weight: 500;
  src: url('../fonts/karu-500i.otf') format('opentype');
}

@font-face {
  font-family: 'Karu';
  font-style: oblique;
  font-weight: 700;
  src: url('../fonts/karu-700i.otf') format('opentype');
}

@font-face {
  font-family: 'Weekly Pro';
  font-weight: 400;
  src: url('../fonts/weekly-pro-400.otf') format('opentype');
}

@font-face {
  font-family: 'Weekly Pro';
  font-style: oblique;
  src: url('../fonts/weekly-pro-400i.otf') format('opentype');
}

@font-face {
  font-family: 'Weekly Pro';
  font-weight: 700;
  src: url('../fonts/weekly-pro-700.otf') format('opentype');
}

// Variables ===================================================================

:root {
  --color-background: hsl(72, 16%, 93%);
  --color-header: black;
  --color-body: hsl(60, 1%, 30%);
}

// Dark Mode

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(60, 1%, 15%);
    --color-header: white;
    --color-body: hsl(60, 5%, 70%);
  }
}

// Content =====================================================================

main {
  margin: 0 auto;
  max-width: 920px;
  padding: 0 60px;
}

.post {

  header {
    margin-bottom: 30px;
    margin-left: auto;
    max-width: 400px;
    width: max-content;
  }

  figure,
  iframe,
  ol,
  p,
  ul {
    font-size: 20px;
    hyphens: auto;
    margin-bottom: 15px;
  }

  h1,
  h2 {
    color: var(--color-header);
    font-family: 'Karu';
  }

  h1 {
    font-size: 32px;
    font-style: oblique;
    font-weight: 500;
    line-height: 1.25;
  }

  h2 {
    font-size: 24px;
    font-style: oblique;
    font-weight: 700;
    margin: 30px 0 15px;
  }

  time {
    font-size: 14px;
  }

  li,
  p {
    line-height: 30px;
  }

  figure {
    margin-left: 15px;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 120px);
  }

  ol,
  ul {
    margin-left: 45px;
  }

  hr {
    margin: 30px auto;
    width: 50%;
  }

  strong {
    font-weight: 700;
  }

}
