// Resets ======================================================================

* {
  box-sizing: inherit;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

:root {
  background-color: var(--color-background);
  box-sizing: border-box;
  color: var(--color-body);
  color-scheme: light dark;
  line-height: 1;
}

// Variables ===================================================================

:root {
  --color-background: hsl(72, 16%, 93%);
  --color-header: black;
  --color-body: hsl(60, 1%, 30%);
}

// Dark Mode

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(60, 1%, 15%);
    --color-header: white;
    --color-body: hsl(60, 5%, 70%);
  }
}

// Content =====================================================================

main {
  margin: 0 auto;
  max-width: 920px;
  padding: 0 60px;
}

.post {

  header {
    margin-bottom: 30px;
    margin-left: auto;
    max-width: 400px;
    width: max-content;
  }

  figure,
  iframe,
  ol,
  p,
  ul {
    font-size: 20px;
    hyphens: auto;
    margin-bottom: 15px;
  }

  h1,
  h2 {
    color: var(--color-header);
  }

  h1 {
    font-size: 32px;
    font-style: oblique;
    font-weight: bold;
  }

  time {
    font-size: 14px;
  }

  li,
  p {
    line-height: 30px;
  }

  h2 {
    font-size: 26px;
    font-style: oblique;
    font-weight: bold;
    margin: 30px 0 15px;
  }

  figure {
    margin-left: 15px;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 120px);
  }

  ol,
  ul {
    margin-left: 45px;
  }

  hr {
    margin: 30px auto;
    width: 50%;
  }

  strong {
    font-weight: bold;
  }

}
