// Resets ======================================================================

* {
  box-sizing: inherit;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

:root {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
  box-sizing: border-box;
  color: var(--color-body);
  color-scheme: light dark;
  font-family: 'Weekly Pro';
  line-height: 1;
}

// Typography ==================================================================

@font-face {
  font-family: 'Karu';
  font-style: oblique;
  font-weight: 500;
  src: url('../fonts/karu-500i.otf') format('opentype');
}

@font-face {
  font-family: 'Karu';
  font-style: oblique;
  font-weight: 700;
  src: url('../fonts/karu-700i.otf') format('opentype');
}

@font-face {
  font-family: 'Overpass Mono';
  font-weight: 300;
  src: url('../fonts/overpass-mono-300.otf') format('opentype');
}

@font-face {
  font-family: 'Weekly Pro';
  font-weight: 400;
  src: url('../fonts/weekly-pro-400.otf') format('opentype');
}

@font-face {
  font-family: 'Weekly Pro';
  font-style: oblique;
  src: url('../fonts/weekly-pro-400i.otf') format('opentype');
}

@font-face {
  font-family: 'Weekly Pro';
  font-weight: 700;
  src: url('../fonts/weekly-pro-700.otf') format('opentype');
}

// Variables ===================================================================

:root {
  --color-background: hsl(72, 16%, 93%);
  --color-header: black;
  --color-body: hsl(60, 1%, 30%);
  --color-link: hsl(300, 45%, 34%);
  --color-link--hover: hsl(170, 70%, 20%);
  --color-link--active: hsl(170, 70%, 15%);
}

// Dark Mode

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(60, 1%, 15%);
    --color-header: white;
    --color-body: hsl(60, 5%, 70%);
    --color-link: hsl(300, 100%, 75%);
    --color-link--hover: hsl(170, 100%, 66%);
    --color-link--active: hsl(170, 70%, 46%);
  }
}

// Content =====================================================================

main {
  margin: 0 auto;
  max-width: 920px;
  padding: 0 60px;
}

.post {

  header {
    margin-bottom: 30px;
    margin-left: auto;
    max-width: 400px;
    width: max-content;
  }

  figure,
  iframe,
  ol,
  p,
  ul {
    font-size: 20px;
    hyphens: auto;
    margin-bottom: 15px;
  }

  h1,
  h2 {
    color: var(--color-header);
    font-family: 'Karu';
  }

  h1 {
    font-size: 32px;
    font-style: oblique;
    font-weight: 500;
    line-height: 1.25;
  }

  h2 {
    font-size: 24px;
    font-style: oblique;
    font-weight: 700;
    margin: 30px 0 15px;
  }

  time {
    font-size: 14px;
  }

  li,
  p {
    line-height: 30px;
  }

  a {
    color: var(--color-link);

    &:hover {
      color: var(--color-link--hover);
    }

    &:active {
      color: var(--color-link--active);
    }

    code {
      text-decoration: underline;
    }
  }

  code,
  pre {
    background-color: hsl(60, 1%, 13%);
    border-radius: 8px / 15px;
    font-family: 'Overpass Mono';
    font-weight: 300;
  }

  code {
    font-size: 18px;
    padding: 0 10px;
  }

  p code {

    display: inline-block;
  }

  pre {
    display: block;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 15px;
  }

  .highlight {
    margin-left: 30px;
    margin-right: 30px;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 120px);
  }

  ol,
  ul {
    margin-left: 45px;
  }

  hr {
    background-color: var(--color-body);
    border: none;
    height: 1px;
    margin: 30px auto;
    width: 50%;
  }

  strong {
    font-weight: 700;
  }

  // The code highlighting plugin wraps <pre> elements in tables, which add
  // border space.
  table {
    border-collapse: collapse;
    width: 100%;
  }

}
