@font-face
  font-family 'Fira Mono'
  font-weight 400
  src url('../fonts/FiraMono.eot?') format('eot'),
      url('../fonts/FiraMono.woff') format('woff'),
      url('../fonts/FiraMono.ttf')  format('truetype')

@font-face
  font-family 'Fira Sans'
  src url('../fonts/FiraSans-300.eot?') format('eot'),
      url('../fonts/FiraSans-300.woff') format('woff'),
      url('../fonts/FiraSans-300.ttf')  format('truetype')

@font-face
  font-family 'Fira Sans'
  font-style italic
  src url('../fonts/FiraSans-300i.eot?') format('eot'),
      url('../fonts/FiraSans-300i.woff') format('woff'),
      url('../fonts/FiraSans-300i.ttf')  format('truetype')
