---
import Layout from '../components/layout.astro'
---

<Layout title="Alas, a 404">
  <div role="main">
    <header>
      <h1>Page Not Found</h1>
    </header>
    <p>Alas, the page you’re looking for can't be found.</p>
    <p>
      <a href="/archives">Check out my blog archives</a> or <a
        href="//github.com/timgthomas/timgthomas.com/issues/new?title=Missing+page"
        target="_blank"
        rel="noopener">report this missing page</a
      >.
    </p>
  </div>
</Layout>
