<% if (config.disqus_shortname && env.env === 'production') { %>
  <h2>Comments</h2>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.title = '<%= page.title %>';
      this.page.url = '<%= page.permalink %>';
      this.page.identifier = '<%= page.canonical_path %>';
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://<%= config.disqus_shortname %>.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
<% } %>
