<aside>
  <div>
    <nav class="social">
      {{!-- Dribbble, GitHub, Twitter, CodePen --}}
      <a href=""><svg><use xlink:href="/images/social.svg#twitter"></use></svg></a>
      <a href=""><svg><use xlink:href="/images/social.svg#github" /></svg></a>
      <a href=""><svg><use xlink:href="/images/social.svg#codepen" /></svg></a>
      <a href=""><svg><use xlink:href="/images/social.svg#dribbble" /></svg></a>
    </nav>
  </div>
</aside>
