& {
  --font-size: 1.6rem;
  --line-height: 1.5;
}

h1:not(:first-of-type) {
  margin-top: calc(var(--font-size) * 2);
}

.excerpt {
  max-height: calc(var(--font-size) * var(--line-height) * 2);
  overflow: hidden;
  position: relative;

  &::after {
    background-image: linear-gradient(to right, hsla(60,  3%, 25%, 0), var(--color-background) 90%);
    bottom: 0;
    content: '';
    display: block;
    height: calc(var(--font-size) * var(--line-height));
    pointer-events: none;
    position: absolute;
    right: 0;
    width: calc(var(--font-size) * var(--line-height) * 4);
  }
}

li {
  line-height: var(--line-height);
  list-style-type: none;

  h2 {
    border-bottom: 0.5px solid var(--color-foreground);
    color: #28d5bd;
    font-size: var(--font-size);
    position: relative;
    transition: color 200ms;
    width: max-content;

    &::before {
      --size: calc(var(--font-size) / 1.414);
      background: var(--color-background);
      border-top-right-radius: 4px;
      box-shadow: 3px -3px 0 #c556b7;
      content: '';
      display: block;
      height: var(--size);
      right: -15px;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(calc(100% - 5px), -50%) scaleX(0.576) rotate(45deg);
      transition: right 200ms, opacity 200ms;
      width: var(--size);
    }
  }

  a:hover h2 {
    color: white;
    transition-duration: 0ms;
  }

  a:hover h2::before {
    opacity: 1;
    right: -5px;
    transition-duration: 0ms;
  }
}

a {
  text-decoration: none;
}

.post {
  position: relative;

  & + .post {
    margin-top: calc(var(--font-size) * 1);
    padding-top: calc(var(--font-size) * 1);

    &:before {
      background-color: var(--color-foreground-active);
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: calc(var(--font-size) * 2);
    }
  }
}

.projects {
  display: grid;
  grid-gap: var(--font-size);
  grid-template-columns: 1fr 1fr;
}

p {
  font-size: var(--font-size);
}
