& {
  --font-size: 1.6rem;

  font-size: var(--font-size);
}

article {
  > * + * {
    margin-top: var(--base-size);
  }

  h2,
  li,
  p {
    line-height: 1.618;
  }

  ol,
  ul {
    margin-left: calc(var(--base-size) * 2);
    margin-top: 0;
  }

  strong {
    font-weight: 500;
  }

  header h1 {
    margin-bottom: calc(var(--base-size) / 2);
  }

  header time {
    display: block;
    font-size: 1.2rem;
  }

  header + p {
    text-indent: var(--base-size);
  }

  figure {
    max-width: 100%;
    overflow: auto;
    -webkit-touch-overflow: scroll;
  }

  hr {
    background: var(--color-foreground-active);
    border: none;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--base-size) * 2);
  }
}

article header {
  margin-bottom: calc(var(--base-size) * 2);
}

article nav {
  display: grid;
  font-weight: 400;
  grid-gap: var(--base-size);
  grid-template-columns: 1fr calc(var(--base-size) * 6) 1fr;
  height: 40px;
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-top: calc(var(--base-size) * 2);

  .next,
  .prev {
    align-items: center;
    display: flex;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &::before {
      --size: calc(var(--font-size) * 1.5 / 1.414);
      background: var(--color-background);
      border-radius: 0 4px;
      content: '';
      display: block;
      height: var(--size);
      position: absolute;
      top: 50%;
      width: var(--size);
    }
  }

  .next {
    grid-column: 3;
    justify-content: flex-end;
    text-align: right;

    &::before {
      box-shadow: 3px -3px 0 #c556b7;
      right: 0;
      transform: translate(100%, -50%) scaleX(0.576) rotate(45deg);
    }
  }

  .prev {
    &::before {
      box-shadow: -3px 3px 0 #c556b7;
      left: 0;
      transform: translate(-100%, -50%) scaleX(0.576) rotate(45deg);
    }
  }
}

h2 {
  border-bottom: 0.5px solid;
  color: #fff;
  margin-top: calc(var(--base-size) * 2);
  width: max-content;
}

a {
  color: var(--color-link);

  &:hover {
    color: white;
  }

  &:active {
    color: var(--color-foreground-active);
  }
}

img {
  border-radius: calc(var(--base-size) / 2);
  display: block;
  margin: 0 auto;
  max-width: 48.0rem;
  width: 100%;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 48.0rem;
  width: 100%;
}
