article {
  margin: 0 auto;
  max-width: 64.0rem;

  > * + * {
    margin-top: var(--base-size);
  }

  header h1 {
    margin-bottom: calc(var(--base-size) / 2);
  }

  header time {
    display: block;
    font-size: 1.2rem;
    text-align: center;
  }

  header + p {
    text-indent: var(--base-size);
  }
}

h2 {
  border-bottom: 0.5px solid;
  color: #fff;
  font-size: 1.4rem;
  margin-top: calc(var(--base-size) * 2);
}

img {
  border-radius: calc(var(--base-size) / 2);
  display: block;
  margin: 0 auto;
  max-width: 48.0rem;
  width: 100%;
}
