* {
  box-sizing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

li,
ol,
ul {
  list-style: none;
}

:root {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1;
}

body {
  -moz-font-feature-settings: 'kern';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #1f1f1f;
}

:root {
  --base: 1.6rem;

  --measure: 80rem;

  --space: var(--base);
  --space-narrow: calc(var(--space) / 2);
  --space-wide: calc(var(--space) * 2);

  --corners: calc(var(--base) / 2);

  --elevation-menu: 200;

  // This color was interpreted from specs
  --color-foreground: hsl(0, 0%, 60%);
  --color-foreground-elevated: hsl(0, 0%, 100%);
}

// TODO: Organize

.h1 {
  color: var(--color-foreground-elevated);
  font-family: 'Fira Sans Condensed';
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.15;
  text-wrap: balance;
}

.h2 {
  color: var(--color-foreground-elevated);
  font-family: 'Fira Sans Condensed';
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.header {
  border-block-end: 2px solid #9f358e;
  margin-block-end: var(--space);
  padding-block-end: var(--space);
}

.p {
  font-family: 'Fira Sans';
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
}
