* {
  box-sizing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

li,
ol,
ul {
  list-style: none;
}

:root {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1;
}

body {
  -moz-font-feature-settings: 'kern';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #1f1f1f;
}

:root {
  --base: 1.6rem;

  --space: var(--base);
  --space-narrow: calc(var(--space) / 2);
  --space-wide: calc(var(--space) * 2);

  --corners: calc(var(--base) / 2);

  --elevation-menu: 200;

  // This color was interpreted from specs
  --color-foreground: hsl(0, 0%, 60%);
  --color-foreground-elevated: hsl(0, 0%, 100%);
}
