---
import Main from '@layouts/main.astro'
import type { ListItem } from '@src/types'
import ListItemComponent from '@components/list-item.astro'

interface Props {
  title: string
  items: ListItem[]
}

const { items, title } = Astro.props
---

<Main {title}>
  <ul>
    {
      items.map((item) => (
        <li>
          <ListItemComponent {item} />
        </li>
      ))
    }
  </ul>
  <slot />
</Main>
