---
import Main from '@layouts/main.astro'
import type { ListItem } from '@src/types'

interface ItemComponentProps {
  item: ListItem
}

interface Props {
  title: string
  items: ListItem[]
  ItemComponent: (props: ItemComponentProps) => any
}

const { ItemComponent, items, title } = Astro.props

export type { ItemComponentProps }
---

<Main {title}>
  <ul>
    {
      items.map((item) => (
        <li>
          <ItemComponent {item} />
        </li>
      ))
    }
  </ul>
  <slot />
</Main>
