---
import ListItemComponent from '@components/list-item.astro'
import Main from '@layouts/main.astro'
import { ListItem } from '@src/types'

interface Props {
  title: string
  items: ListItem[]
}

const { items, title } = Astro.props
---

<Main {title}>
  <ul class="list">
    {
      items.map((item) => (
        <li>
          <ListItemComponent {item} />
        </li>
      ))
    }
  </ul>
  <slot />
</Main>

<style scoped lang="scss">
  .list {
    :global(img) {
      max-width: 100%;
    }
  }
</style>
