aside {
  background: center / cover url('/images/hero.jpg');
  overflow: hidden;

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 80.0rem;
    min-height: 14.0rem;
  }

  p {
    width: 300px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
    text-align: right;
  }

  .about {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-bottom: calc(var(--base-size) / 2);
    text-align: center;
  }

  .social {
    display: flex;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    justify-content: center;
  }

  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }

  img {
    display: none;
    grid-column: 2 / 2;
    grid-row: 1 / span 2;
    height: 170px;
    width: 160px;
  }
}

aside a {
  display: inline-block;
  font: 0 / 0 a;
  height: 44px;
  width: 44px;
  color: currentColor;
}

@media (min-width: 500px) { aside {
  .container {
    display: grid;
    grid-gap: var(--base-size);
    grid-template-columns: 1fr 160px;
    grid-template-rows: 1fr 1fr;
  }

  .about {
    align-self: end;
    justify-self: end;
    margin-bottom: 0;
    text-align: right;
  }

  .social {
    justify-content: flex-end;
    justify-self: end;
  }

  img {
    display: initial;
  }
} }
