[role='banner'] {
  --base-size: 1.4rem;

  align-items: center;
  background-color: var(--color-background);
  background-image: url('/images/logo.png');
  background-position: center;
  background-size: 38px 44px;
  background-repeat: no-repeat;
  display: grid;
  filter: drop-shadow(0 4px rgba(0, 0, 0, 0.15));
  font-size: var(--base-size);
  grid-gap: calc(var(--base-size) / 2);
  grid-template-columns: 1fr 38px 1fr;
  height: calc(var(--base-size) * 4);
  letter-spacing: 0.1rem;
  position: fixed;
  top: 0;
  text-transform: uppercase;
  width: 100%;

  &::after {
    background-image: linear-gradient(135deg, transparent 50%, var(--color-background) 50%);
    border-bottom-right-radius: 8px;
    bottom: 0;
    content: '';
    display: block;
    height: 35px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%) scaleY(0.576) rotate(45deg);
    width: 35px;
  }

  h1 {
    justify-self: end;
  }

  nav {
    display: flex;
    grid-column: 3 / -1;
  }

  a {
    align-items: center;
    background-color: var(--color-background);
    display: flex;
    height: 44px;
    padding: 0 calc(var(--base-size) / 2);
    text-decoration: none;
    transition: color 250ms;

    &:hover {
      color: #fff;
      transition-duration: 0ms;
    }

    &:active {
      color: var(--color-foreground-active);
      transition-duration: 0ms;
    }
  }
}
