pre
  .keyword
    color purple
  .string, .tag .value
    color orange
  .tag
    color aqua
  .comment
    color darken(alabaster, 30%)

  // CSS
  .class,
  .attr_selector
    color aqua

  .pseudo
    color purple

  .value
    color orange
