aside {
  align-items: stretch;
  background-image: linear-gradient(to bottom, #1e1d27, #48475f);
  display: flex;
  height: calc(var(--base-size) * 8);
  justify-content: center;

  > div {
    max-width: 64.0rem;
    padding: calc(var(--base-size) * 2) var(--base-size);
    width: 100%;
  }
}

main {
  font-size: var(--base-size);
  font-weight: 300;
  margin: 0 auto;
  max-width: 64.0rem;
  padding: calc(var(--base-size) * 2) var(--base-size) 0;

  h1, h2, header time {
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  h1 {
    color: white;
    font-size: 2.0rem;
    margin-bottom: var(--base-size);
    text-align: center;
  }
}

// TODO: Move to projects layout CSS?
// .projects {
//   list-style-type: none;
//
//   > li + li {
//     margin-top: var(--base-size);
//   }
// }
