:root {
  --color-background: hsl(60,  3%, 25%);
  --color-foreground: hsl(70, 12%, 82%);
  --color-foreground-active: hsl(70, 7%, 64%);

  --base-size: 1.4rem;
  --font-size: var(--base-size);

  --duration-default: 500ms;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/fira-sans-300.woff2') format('woff2'), url('/fonts/fira-sans-300.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/fira-sans-400.woff2') format('woff2'), url('/fonts/fira-sans-400.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/fira-sans-500.woff2') format('woff2'), url('/fonts/fira-sans-500.woff') format('woff');
}
